@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500&display=swap");

:root {
  /*darkest grey for headings*/
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: #102a42;
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 35%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 120rem;
}

/*
====================== 
Global Styles
======================
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  overflow: scroll;
} */

/* TransitionLinks Animations attributes */
.transition-effect {
  position: absolute;
  z-index: 999;
  background-color: #ffa585;
  top: 0;
  width: 100%;
  height: 100vh;
}

/* TransitionLinks Animations attributes end*/

/* Loader animation */
.panels {
  position: fixed;
  top: 0;
  left: 50%;
  width: 180vw;
  height: 100%;
  transform: translateX(-50%) skewX(-35deg);
  clip-path: circle(100%);
  z-index: 1000;
  background: var(--lightgray);
}

.panels .panel:nth-child(even) {
  transform-origin: bottom;
}

.panels .panel:nth-child(2) {
  left: calc(var(--panel-width) - 1px);
}

.panels .panel:nth-child(3) {
  left: calc(calc(var(--panel-width) * 2) - 2px);
}

.panels .panel:nth-child(4) {
  left: calc(calc(var(--panel-width) * 3) - 4px);
}

.panels .panel:nth-child(5) {
  left: calc(calc(var(--panel-width) * 4) - 5px);
}

.panels .panel:nth-child(6) {
  left: calc(calc(var(--panel-width) * 5) - 6px);
}

/* Loader animation ends */
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 1rem;
  /* margin-top: 5rem; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* line-height: 1.25; */
  /* margin-bottom: 0.75rem; */
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--clr-grey-3);
}

p::selection,
a::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection {
  color: #fff;
  background: #ff5364;
}

/*
====================== 
Navbar
======================
*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  background: transparent;
  z-index: 200;
}

.nav-center {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr-grey-1);
  margin-right: 3.75rem;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: var(--ff-primary);
  transition: var(--transition);
}

.nav-links a:hover {
  color: #ff5364;
  box-shadow: 0px 2px var(#ff5364);
}

/* Index page */
.index h2 {
  color: #ff5364 !important;
}

/*
====================== 
Hero
====================== 
*/
.hero {
  margin-top: -5rem;
  padding-top: 8rem;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(90deg, #ffa585 0%, rgba(255, 237, 160, 0.7) 100%);
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}

.hero-main {
  grid-column: 2/3;
}

.hero-main h1 {
  margin-top: 12.625rem;
}

.hero-main p {
  display: block;
  width: 35rem;
  height: 7.125rem;
  margin-top: 2.625rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-top: 9.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ff5364;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding: 1rem 3.5rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:hover {
  color: var(--clr-grey-3);
  background-color: #ff4a5c;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.hero_images {
  /* overflow: hidden;
  transition: all 3s ease-out;
  cursor: pointer; */
  width: 64.94rem;
  height: 51.5rem;
  justify-self: center;
  align-self: center;
  margin-right: -4.75rem;
}

/* .hero_images:hover .img_left {
  transform: translate(0%, 0%);
}

.hero_images:hover .img_right {
  transform: translate(0%, 0%);
} */

/* .img_left {
  position: absolute;
  top: 17.5rem;
  left: 69.7rem;
  width: 21.875rem;
  height: 31.375rem;
  transform: translate(0%, -5%);
}

.img_right {
  position: absolute;
  left: 88.9rem;
  top: 13.5rem;
  width: 15.75rem;
  height: 39.5625rem;
  transform: translate(0%, 5%);
} */

/*
====================== 
Project
====================== 
*/
.project {
  margin: 0;
  background-color: #f1f5f8;
  height: 54.125rem;
  /* height: 64.125rem; */
}

.project-body {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
  padding-top: 8rem;
}

.shape {
  display: inline-block;
  border: solid 5px #ff5364;
  width: 26rem;
  height: 35rem;
  border-radius: 0.5rem;
  grid-column-start: 2;
  position: absolute;
  z-index: 1;
  top: 64rem;
  left: 6.25rem;
}

.picture {
  grid-column: 2/5;
}

.about-img {
  position: relative;
  display: inline-block;
  width: 26rem;
  height: 35rem;
  padding-top: -24rem;
  margin-left: 2rem;
  z-index: 300;
}

.project-description {
  grid-column: 7/13;
}

.project-description h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #ff5364;
}

.project-description p {
  display: inline-block;
  width: 53.125rem;
  height: 17rem;
  margin-top: 2.2rem;
}

.project-description .btn {
  margin-top: 9rem;
}

/*
====================== 
Category
====================== 
*/
.category {
  display: grid;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
}

.category h2 {
  display: inline-block;
  grid-column: 7/9;
  justify-self: center;
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 300;
  color: #ff5364;
}

.category_images {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 13;
  justify-content: space-between;
  margin-top: 6rem;
}

.category_img {
  text-align: center;
}

.circle {
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-bottom: -22.9rem;
  display: inline-block;
  height: 22.5rem;
  width: 22.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.circle:hover {
  opacity: 0;
}

.category_img p {
  margin-top: 1.7rem;
  padding-bottom: 7.5rem;
  font-weight: 300;
  font-size: 1.875rem;
}

.category_images img {
  display: inline-block;
  width: 22.5rem;
  height: 22.5rem;
}

/*
====================== 
Last recipes
====================== 
*/
.last_recipes {
  background-color: #f1f5f8;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5% repeat(12, 1fr) 5%;
}

.last_recipes h2 {
  grid-column: 1 / 15;
  justify-self: center;
  display: inline-block;
  margin-top: 4rem;
  font-size: 3rem;
  font-weight: 300;
  color: hsl(210, 22%, 35%);
}

.recipes-center {
  grid-column-start: 2;
  grid-column-end: 14;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6rem;
}

.btn-last_recipes {
  grid-column: 1 / 15;
  justify-self: center;
  margin-top: 8.5rem;
  margin-bottom: 6rem;
}

/*
====================== 
Recipe Card
====================== 
*/

.recipe-card__cover {
  margin-top: 6rem;
  display: flex;
  position: relative;
  border-radius: 1rem;
  height: 32.5rem;
  width: 22.5rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 30;
  transition: transform 0.3s ease-in-out;
}

.recipe-card__cover-details {
  overflow: hidden;
  color: var(--clr-white);
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 20;
}

.recipe-card__img {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease-in;
}

.recipe-card__img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-position: center;
}

.recipe-card__cover:hover .recipe-card__cover-details {
  background: rgba(83, 186, 255, 0.4);
}

.recipe-card__cover:hover .recipe-card__img {
  transform: scale(1.1);
}

.recipe-card_category {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  color: rgba(224, 227, 229, 1);
  transition: transform 0.3s ease-in;
  transform: translateY(-280%);
}

.recipe-card_category span {
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 94, 110, 1);
  border-radius: var(--radius);
  margin-right: 1rem;
  background-color: rgba(255, 94, 110, 1);
}

.recipe-card__cover:hover .recipe-card_category {
  transform: translate(0);
}

.recipe-card_title {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 75%;
  position: absolute;
  left: 1.5rem;
  bottom: 5.5rem;
  transform: translateY(3rem);
  transition: all 0.3s ease-in;
}

.recipe-card_title h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.625rem;
}

.recipe-card__cover:hover .recipe-card_title {
  transform: translate(0);
}

.recipe-card__cover:hover .recipe-card_title h3 {
  /* color: rgba(255, 94, 110, 1); */
  /* color: var(--clr-grey-1); */
}

.recipe-card_nutrition {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 5%;
  transform: translateY(4rem);
  transition: transform 0.3s ease-in;
}

.recipe-card_nutrition svg {
  align-self: center;
}

.recipe-card__cover:hover .recipe-card_nutrition {
  transform: translate(0);
}

.recipe-card_nutrition--calories {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  border-right: 1px solid #fff;
}

.recipe-card_nutrition--calories svg path {
  fill: var(--clr-white);
}

.recipe-card_nutrition--calories p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  line-height: 1rem;
  align-items: center;
  text-align: center;
}

.recipe-card_nutrition--time {
  display: flex;
  flex-direction: row;
  border-right: 1px solid #fff;
  margin-right: 1rem;
}

.recipe-card_nutrition--time svg path {
  fill: var(--clr-white);
}

.recipe-card_nutrition--time p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  align-self: center;
  text-align: center;
}

.recipe-card_nutrition--difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

/* *** FOOTER *** */
footer {
  height: 10rem;
  background: #222;
  text-align: center;
  display: grid;
  place-items: center;
}

footer h4 {
  margin-top: 1rem;
  color: var(--clr-white);
  font-weight: 300;
  font-size: 1.3rem;
}

footer h4 span {
  color: #ff5364;
}

.social-link {
  margin-right: 1.5rem;
}

.social-link path {
  transition: all 0.3s ease-in-out;
}

.social-link:hover path {
  fill: #ff5364;
}

/* SINGLE RECIPE PAGE */
.strapi-recipe {
  margin-top: 6rem;
  display: grid;
  background: #f1f5f8;
  grid-template-columns: 4.17% repeat(12, 1fr) 4.17%;
  grid-column-gap: 1.25rem;
}

.strapi-recipe h2 {
  text-align: center;
  position: relative;
  display: inline-block;
  grid-column: 6/10;
  justify-self: center;
  color: #102a42;
  font-weight: 400;
  font-size: 3rem;
  margin: 8rem 0;
}

.recipe-img {
  display: block;
  grid-column: 3/7;
  width: 33rem;
  height: 41.25rem;
}

.recipe-img img {
  width: 33rem;
  height: 41.25rem;
  border-radius: var(--radius);
}

.recipe-card_nutrition--strapi {
  grid-column: 3/7;
  height: 3.5rem;
  width: 33rem;
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.recipe-card_nutrition--calories--strapi {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  border-right: 1px solid #000;
  margin-right: 1rem;
}

.recipe-card_nutrition--calories--strapi p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  align-self: center;
  text-align: center;
}

.recipe-card_nutrition--time--strapi {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  border-right: 1px solid #000;
  margin-right: 1rem;
}

.recipe-card_nutrition--time--strapi p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  display: inline-block;
  padding: 0 1rem 0 0.75rem;
  align-self: center;
  text-align: center;
}

.recipe-card_nutrition--difficulty--strapi {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.recipe-card_nutrition--difficulty--strapi p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  display: inline-block;
  padding-right: 1rem;
  align-self: center;
  text-align: center;
}

.recipe-card_nutrition--difficulty--strapi svg:not(:last-child) {
  margin-right: 0.5rem;
}

/* Color svg based on difficulty level */
.svg_color path {
  fill: #ff5364;
}

.svg_non_color path {
  fill: #fff;
}

.strapi-recipe_main-description {
  display: grid;
  grid-column: 8/12;
  grid-row: 2;
}

.strapi-recipe_main-description h3 {
  padding: 0;
  margin: 0;
  color: #444;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0.1rem;
}

.recipe_desc_strapi {
  width: 40.625rem;
  max-height: 19.3125rem;
  border: solid 1px #000;
  border-radius: var(--radius);
  background: rgba(255, 255, 255, 0.8);
  margin-top: 2rem;
}

.recipe_desc_strapi p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: inline-block;
  max-width: 35rem;
  max-height: 17rem;
  margin: 1.5rem 2.8125rem;
  text-align: left;
}

@media(width < 1300px) {
  .recipe_desc_strapi {
    max-height: none;
  }
  
  .recipe_desc_strapi p {
     max-height: none;
  }
}

.recipe_desc_strapi br {
  display: block;
  /* makes it have a width */
  content: "";
  /* clears default height */
  margin: 0;
  /* change this to whatever height you want it */
  padding: 0;
  line-height: 0.3rem;
}

.recipe_desc_strapi a {
  text-decoration: none;
  color: #ff5364;
}

.video_url:hover:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 7.4rem;
  width: 3.5rem;
  height: 2rem;
  border-radius: 2px;
  /* background: #e4e5e6; */
  background: #f1f5f8;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}

.video_url:hover:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 8.5rem;
  width: 2rem;
  height: 2rem;
  display: block;
}

.video_en:hover {
  position: relative;
}

.video_ru:hover {
  position: relative;
}

.video_en:hover:after {
  content: url(united-kingdom-square.svg);
}

.video_ru:hover:after {
  content: url(russia-square.svg);
}

.instruction_link {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
}

.strapi-recipe_nutrition {
  align-self: end;
}

.strapi-recipe_nutrition--table {
  position: relative;
  display: block;
  margin-top: 2rem;
  width: 40.625rem;
  height: 10.375rem;
  border: solid 1px #444;
  border-radius: var(--radius);
  background: #fff;
}

.portion {
  float: left;
  width: 14.2rem;
  height: 8.5rem;
  margin-left: 2.5rem;
  margin-top: 1rem;
}

.strapi-recipe_nutrition--table h4 {
  display: inline-block;
  padding: 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
}

.strapi-recipe_nutrition--table li {
  font-size: 1rem;
  font-weight: 300;
}

.portion_heading {
  font-size: 1.125rem;
  font-weight: 400;
  width: 14.2rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.portion_heading_100 {
  font-size: 1.125rem;
  font-weight: 400;
  width: 14.875rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.portion_ul-text {
  float: left;
}

.portion_ul-numbers {
  float: right;
  text-align: right;
}

.standart_calories {
  float: right;
  width: 14.875rem;
  height: 8.5rem;
  margin-right: 2.5rem;
  margin-top: 1rem;
}

.vl {
  display: inline-block;
  position: absolute;
  top: 0.5rem;
  left: 20.312rem;
  border-right: solid 1px #444;
  height: 9.375rem;
}

/* Ingridients styling */
.ingridients {
  width: 33rem;
  grid-column: 3/6;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.strapi_recipe_h3 {
  color: #444;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 2px;
}

/* Checkbox styling */
.ingridient_item {
  position: relative;
  margin: 2rem 0 1rem 1.5rem;
}

/* hide default checkbox */
.ingridient_item input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* style text beside checkbox */
.checkbox_ingridients {
  font-size: 1.2rem;
  font-weight: 400;
  color: #444;
  margin-left: 3.5rem;
  cursor: pointer;
}

.checked {
  color: #ff5364;
  text-decoration: line-through;
}

/* Style checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background: rgba(255, 83, 100, 0.1);
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

/* On mouse-over, add a darker background color */
.ingridient_item:hover .checkmark {
  background-color: rgba(255, 83, 100, 0.35);
}

/* When the checkbox is checked, add an orange background */
.ingridient_item .checked .checkmark {
  background-color: #ff5364;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.ingridient_item .checked .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 0.5rem;
  top: 2px;
  width: 1rem;
  height: 1.3rem;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

/* Directions */
.directions {
  width: 40.625rem;
  grid-column: 8/12;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.directions_list {
  margin-top: 2rem;
}

.direction_item {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 1.5rem;
}

.direction_item p {
  width: 95%;
  font-size: 1.2rem;
  font-weight: 400;
  color: #444;
}

.circle_number {
  width: 5%;
  text-align: center;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ff5364;
  color: #fff;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

/* RECIPES PAGE */
.recipes-page {
  background: #f1f5f8;
  margin-top: 6rem;
  padding-bottom: 10rem;
}

.recipes_navigation {
  display: flex;
  grid-column: 2/5;
  height: 12.5rem;
  width: 80rem;
  margin-top: 6rem;
  margin-bottom: -13rem;
  transition: all 0.3s;
}

.dd-wrapper {
  overflow: hidden;
  width: 16.815rem;
  height: 12.5rem;
  margin-right: 1.5rem;
  /* background: rgba(83, 186, 255, 0.2); */
  /* background: rgba(255, 83, 100, 0.2); */
  border-radius: 5px;
}

.dd-header {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid rgba(83, 235, 238, 0.5);
  border-radius: 5px;
  background: rgba(83, 235, 238, 0.2);
}

.dd-header__title {
  display: flex;
}

.dd-header__title--bold {
  display: block;
  align-self: center;
  margin-left: 1rem;
  letter-spacing: 1px;
}

.dd-header__action {
  display: flex;
}

.recipes_svg {
  width: 1rem;
  height: 1rem;
  align-self: center;
  margin-right: 1rem;
  transform: rotate(90deg);
  transition: all 0.4s;
}

.arrow_up {
  transform: rotate(270deg);
}

.dd-list {
  overflow: hidden;
  border-radius: 5px;
  border-bottom: 0;
  border-top: 0;
  border-right: solid 1px rgba(83, 235, 238, 0.5);
  border-left: solid 1px rgba(83, 235, 238, 0.5);
  background: rgba(83, 235, 238, 0.2);
  height: 0px;
  transition: 0.3s;
}

.dd-list__item {
  display: none;
  transition: 0.3s;
  border-bottom: 1px solid rgba(83, 235, 238, 0.8);
  border-top: 0;
}

.dd-list__item button {
  display: inherit;
  border: 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  text-align: left;
  border-top: 0;
  transition: all 0.3s;
}

.dd-list__item button span {
  display: inherit;
  margin-left: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  border-top: 0;
}

.dd-list__item button:hover {
  color: #ff5364;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

.btn_selected {
  color: #ff5364;
  background: rgba(255, 255, 255, 0.4);
}

.btn_not_selected {
  background: rgba(83, 235, 238, 0.2);
  color: #333;
}

.animate_0 {
  height: 0px;
  border: 0;
  transition: 0.3s;
}

.animate_1 {
  height: 10rem;
  transition: 0.3s;
  border-bottom: 1px solid rgba(83, 235, 238, 0.5);
}

/* SearchBar */
.search_form {
  position: relative;
  width: 32.4rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 5px;
}

.search_form input,
button {
  height: 2.5rem;
  border: 0;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--clr-grey-3);
}

.search_form input {
  outline: none;
  width: 100%;
  background: #fff;
  padding: 0 1rem;
  border-radius: 5px;
  /* border: solid 1px rgba(83, 235, 238, 0.5); */
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  z-index: 1;
  position: relative;
}

.search_form button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.65rem;
  font-weight: bold;
  /* background: rgba(83, 235, 238, 1); */
  background: rgba(255, 83, 100, 1);
  color: #fff;
  border-radius: 0 5px 5px 0;
  /* border: solid 1px rgba(83, 235, 238, 0.5); */
  cursor: pointer;
}

.search_form button svg {
  width: 1rem;
  height: 1rem;
  fill: #fff;
}

.search_form input:not(:placeholder-shown) {
  border-radius: 5px 0 0 5px;
  border-right: 0;
  width: calc(100% - 2.65rem);
}

.search_form input:not(:placeholder-shown)+button {
  display: block;
}

.search_form label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.div_not_found {
  display: block;
  grid-column: 2/14;
  text-align: center;
  justify-self: center;
  margin-top: 10rem;
  margin-bottom: 6rem;
  width: 50rem;
  height: 10rem;
}

.div_not_found h4 {
  color: #f82e42;
  font-size: 1.5rem;
  font-weight: 300;
}

.div_not_found p {
  font-size: 1.1rem;
  font-weight: 400;
}

.pagination {
  display: flex;
  height: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 5rem 0 -5rem 0;
}

.pagination-text {
  line-height: 3rem;
  height: inherit;
  font-size: 1.2rem;
}

.pagination-container {
  line-height: 3rem;
  height: inherit;
}

.btn-pagination {
  display: inline-block;
  margin: 0 1.5rem 0 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--clr-grey-3);
  transition: 0.3s;
}

.btn-pagination:hover,
.btn-pagination:active {
  color: #ff5364;
  cursor: pointer;
}

/* Contact Page */
.contact-page {
  margin-top: 6rem;
  background: #f1f5f8;
  height: 63rem;
}

.contact-page h2 {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: hsl(210, 22%, 35%);
  margin-bottom: 6rem;
}

.contact-page h3 {
  font-size: 2rem;
  font-weight: 300;
  color: #ff5364;
  margin-bottom: 1rem;
}

.contact-page p {
  margin-bottom: 3rem;
  width: 40rem;
  line-height: 1.75rem;
}

.wrapper {
  display: block;
  margin-left: 24rem;
  max-width: 62rem;
}

.contact-form {
  width: 40rem;
}

.input-block {
  position: relative;
  height: 3rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  background-color: rgba(238, 238, 238, 0.5);
  border: 1px solid #333;
  border-radius: var(--radius);
}

.input-block:focus-within {
  border-color: rgba(83, 186, 255, 1);
  background-color: rgba(83, 186, 255, 0.1);
  overflow: hidden;
}

.input-block.error:focus-within {
  border-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
  overflow: hidden;
}

.input-block span {
  position: absolute;
  left: 1rem;
  top: 0.75rem;
  transition: all 0.3s;
}

.input-block.text {
  height: 8rem;
}

.input-block input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.input-block.text textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-top: 1rem;
  height: 6rem;
  resize: none;
}

.form-control {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  width: 95%;
  height: 1.5rem;
  font-size: 1rem;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0;
  transition: all 0.3s;
}

.form-control:focus {
  overflow: hidden;
}

.form-control:focus~span,
.form-control:valid~span {
  top: 0;
  font-size: 0.8rem;
  color: #333;
  letter-spacing: 1px;
}

.btn-form {
  height: 4rem;
  width: 15rem;
  display: block;
  margin-top: 2.75rem;
  margin-bottom: 6rem;
}

/* ABOUT PAGE */
.about-page {
  margin-top: 6rem;
  background: #f1f5f8;
  height: 118rem;
}

.about-page h2 {
  padding-top: 4rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  color: hsl(210, 22%, 35%);
  margin-bottom: 6rem;
}

.about-wrapper {
  display: block;
  position: relative;
  width: 71.25rem;
  height: 69.5rem;
  margin-left: 24.375rem;
}

.about-wrapper h3 {
  display: block;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 300;
  letter-spacing: 2px;
  color: #ff5364;
  margin: 2rem auto 1.5rem auto;
}

.wrapper-about_project h3 {
  padding-top: 2rem;
}

.about_author-img {
  display: block;
  width: 29.2rem;
  height: 36.5rem;
}

.about_author-img img {
  /* border: 5px solid rgba(255, 83, 100, 0.8); */
  border-radius: var(--radius);
}

.wrapper-about_author {
  text-align: left;
  position: absolute;
  top: 7rem;
  left: 27.325rem;
  width: 43.85rem;
  height: 22.5rem;
  background: #fff;
  /* background: rgb(248, 248, 248); */
  /* border: 2.5px solid rgba(255, 83, 98, 0.75); */
  border-radius: var(--radius);
}

.wrapper-about_author p {
  font-size: 1.2rem;
  width: 90%;
  margin: 0 5%;
}

.wrapper-about_project {
  margin-top: 5rem;
  background: rgb(255, 255, 255);
  /* background: rgba(83, 186, 255, 0.1); */
  border-radius: var(--radius);
  width: 100%;
  /* height: 29.5rem; */
}

.wrapper-about_project p {
  display: inline-block;
  line-height: 2rem;
  font-size: 1.2rem;
  width: 78%;
  margin: 0 11% 8% 11%;
}

/* 404 PAGE */
.error-page {
  position: relative;
  margin-top: -5rem;
  background-image: url(wave.svg);
  background-repeat: no-repeat;
  aspect-ratio: 1920/1080;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.description {
  position: absolute;
  left: 5.5rem;
  top: 30rem;
}

.description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.description h2 {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2rem;
  color: hsl(210, 22%, 35%);
}

.error-container {
  top: 8rem;
  left: 50rem;
  position: absolute;
  display: block;
}

.error-container img {
  width: 75%;
  height: 100%;
}
